<!DOCTYPE html>
<html>
<head>
    <% include partials/header.ejs %>
</head>
<body>
<% include partials/navbar.ejs %>
<div class="container">
    <div class="row">
        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3">
            Welcome to the admin dashboard
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-header">Caretaker Stats</div>
                <div class="card-body">
                    <span style="font-size: 64px;">
                    <a href="./caretaker-stats" class="text-center"><i class="fas fa-user-friends"></i></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-header">Pet Stats</div>
                <div class="card-body">
                    <span style="font-size: 64px;">
                    <a href="./pet-stats" class="text-center"><i class="fas fa-dog"></i></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-header">Pet Price</div>
                <div class="card-body">
                    <span style="font-size: 64px;">
                    <a href="./pricing" class="text-center"><i class="fas fa-money-bill-wave"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
